.places__website {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-end;
  max-width: 456px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .places__website {
    width: 288px;
    margin: 0 auto;
  }
}